@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Locked Out";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main class="text-center" style="padding: 80px; background-color: #FDF6E3;">
    <h1 class="text-danger">Locked Out</h1>
    <p class="lead">This account has been locked out due to multiple failed login attempts.</p>
    <p>Please try again later or contact support.</p>
</main>
